In [ ]:
pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

import pandas for calculations and nominatim for geopy API

In [ ]:
#prereq libraries
import pandas as pd
from geopy.geocoders import Nominatim

## First, format your data file

you should prepare a csv file that has your address data on it, then name it `data.csv`. 
- If your address data file has a different file name, then you must change the name in the first line of code below.

In [ ]:
#read-in csv file and create column headers according to UK housing site
df = pd.read_csv("LOLO.csv", #file name
                 sep=',') #seperator

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6688 entries, 0 to 6687
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   query          6492 non-null   object
 1   location_lat   0 non-null      float64
 2   location_long  0 non-null      float64
dtypes: float64(2), object(1)
memory usage: 156.9+ KB

In [ ]:
# print the data
df.head()

,query,location_lat,location_long
0,"""100 Paper Way, Longview, Washington 98632, Un...",NaN,NaN
1,"""NFD Road 18, Arlington, Washington 98223, Uni...",NaN,NaN
2,"""Swede Heaven, Washington 98223, United States""",NaN,NaN
3,"""Portland, Oregon 97203, United States""",NaN,NaN
4,"""97731, OR, United States""",NaN,NaN

let's concatenate a few column names to create a long string of any given address in our `data.csv` file. This column will be used a query term for the geoPy API.

In [ ]:
#create variable column inside file called `myAddress and assign it to seleted address columns
#df['query'] = df['Last Reported Location']

#print new column with index -first 5 rows only
#df.iloc[0:5, 8:9]

Geopy returns us latitude, longitude coordinates and specific address. Let's create 3 columns in our df.

In [ ]:
#create 2 new columns to store lat/long - initalise to null
df['location_lat'] = ""
df['location_long'] = ""
#df['location_address'] = ""

#print first rows to sample
df.head()

,query,location_lat,location_long
0,"""100 Paper Way, Longview, Washington 98632, Un...",,
1,"""NFD Road 18, Arlington, Washington 98223, Uni...",,
2,"""Swede Heaven, Washington 98223, United States""",,
3,"""Portland, Oregon 97203, United States""",,
4,"""97731, OR, United States""",,

## Second, use Geopy to fetch geocode data

In [ ]:
'''
**Get Lat/Long Data with GeoPy**
---------------------

the code below calls a geopy API using a concatenated column of address values. We use this column as a query key 
to pull back cooresponding lat/long coordinates.
'''

geolocator = Nominatim(user_agent="myApp")

for i in df.index:
    try:
        #tries fetch address from geopy
        location = geolocator.geocode(df['query'][i])
        
        #append lat/long to column using dataframe location
        df.loc[i,'location_lat'] = location.latitude
        df.loc[i,'location_long'] = location.longitude
        #df.loc[i,'location_address'] = location.address
    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        df.loc[i,'location_lat'] = ""
        df.loc[i,'location_long'] = ""
        #df.loc[i,'location_address'] = ""

#print first rows as sample
df.head()

,query,location_lat,location_long
0,"""100 Paper Way, Longview, Washington 98632, Un...",,
1,"""NFD Road 18, Arlington, Washington 98223, Uni...",,
2,"""Swede Heaven, Washington 98223, United States""",48.284275,-121.728187
3,"""Portland, Oregon 97203, United States""",45.520247,-122.674194
4,"""97731, OR, United States""",43.080434,-121.825165

## You're done! Now save your results to a new data file.

In [ ]:
#write the contents thus far to new csv file
df.to_csv('geopy_data1.csv')

Check your local directory to see if the new file was saved properly.